*
!.gitignore
!CLAUDE.md
!settings.json
!statusline-command.sh
!skills/
!skills/**
!plugins/
plugins/*
!plugins/config.json
!plugins/installed_plugins.json
!plugins/known_marketplaces.json
!projects/
projects/*
!projects/-Users-astadnik--claude/
projects/-Users-astadnik--claude/*
!projects/-Users-astadnik--claude/memory/
!projects/-Users-astadnik--claude/memory/**
