@import "latte.css";

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */

* {
    /* color: @crust; */
    color: @text;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family:OpenSans;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom:3px;
   }

window#waybar {
    background: @base;
}

#workspaces button {
    padding: 2px 0px;
    border-bottom: 2px;
    color: @crust;
    border-color: @sky;
    border-style: solid;
    margin-top:2px;
}

#workspaces button.active {
    border-color: @peach;
}

#mode {
    color: @peach;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#language, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman,#custom-theme {
    padding: 0 3px;
    border-bottom: 2px;
    border-style: solid;
}
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

 
#clock {
 color: @green;
}

#custom-theme {
    color: @lavender;
}

#backlight {
    color: @peach;
}

#battery {
    color: @sky;
}

#battery.charging {
    color: @sapphire;
}

@keyframes blink {
    to {
        color: @text;
        background-color: @crust;
    }
}

#battery.critical:not(.charging) {
    background: @red;
    color: @crust;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color:@green ;
}

#memory {
    color: @flamingo;
}

#network.disabled {
    color:@red;
}

#network{
    color:@green;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @lavender;
}

#pulseaudio.muted {
    color: @mauve;
}

#temperature {
    color: @maroon;
}

#temperature.critical {
    color: @red;
}

#idle_inhibitor {
   color: @peach;
}

#tray {
}

#custom-launcher,#custom-power{
    border-style: hidden;
    margin-top:2px;    
}

#window{
    border-style: hidden;
    margin-top:1px;  
}    
#mode{
    margin-bottom:3px;
}

#language{
   color: @rosewater;
}   



